{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if app.user %}
        <h2>Date du jour : {{ "now" | date("d-m-Y") }}</h2>
    <h2>Participant: {{ app.user.pseudo }}</h2>
    {% endif %}
    <div id="filtre">
        <h3>Filtrer les sorties</h3>
        <div>
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            <button type="submit">Rechercher</button>
            {{ form_end(filterForm) }}
        </div>

    <section class="sorties-list">
        {% if sorties %}
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription |date("d/m/Y") }}</td>
                <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if app.user in sortie.participants %}
                X
                {% endif %}</td>
                <td><a href="{{ path('profile_show', {'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.pseudo }}</a></td>
                <td> <a href="#"> Afficher</a> {% if not app.user in sortie.participants %}
                        - <a href="#">S\'inscrire</a>
                        {% endif %}
                    {% if (app.user in sortie.participants) and (sortie.etat.libelle != 'Passée') and (sortie.etat.libelle != 'Activité en cours') %}
                    - <a href="{{ path('main_sortie_desistement', {'id' : sortie.id}) }}">Se désister</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur %}
                    - <a href="#">Modifier</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur %}
                    - <a href="#">Annuler</a>
                    {% endif %}
                    </td>
            </tr>
        {% endfor %}
            </table>
        {% else %}
        <div>Rien à afficher !</div>
        {% endif %}
    </section>
<div id="create-sortie-accueil">

    <a href="{{ path('createSortie') }}" class="btn-cancel">Créer une sortie</a>
</div>
</div>
{% endblock %}

{% block title %}
{{ parent() }} | Accueil
{% endblock %}

