{% extends '../base.html.twig' %}


{% block title %}Créer une sortie{% endblock %}



{% block body %}
    <h1>Créer une sortie</h1>
    <hr>


    {{ form_start(sortieForm)}}


    <div class="form">
        {{ form_row(sortieForm.nom)}}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        <p>{{ form_row(sortieForm.duree) }}minutes</p>
        {{ form_row(sortieForm.infosSortie) }}
    </div>

    <div class="form">
        {{ form_row(sortieForm.campus)}}
        {{ form_row(sortieForm.lieu)}}
    </div>
        <button type="submit" class="btn">Publier la sortie</button>
    <a href="{{ path('main_home') }}" class="btn-cancel">Annuler</a>
    {{ form_end(sortieForm)}}
{% endblock %}

